@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;700&display=swap');
body {font-family: 'M PLUS 1 Code', sans-serif;background-color: black;}
h4 {color: white;}
.center {display: flex;justify-content: center;}
.container{display: flex;justify-content: center;align-items: center;height: 100vh;flex-direction: column;margin: 0 10px;}
.keyboard_wrap{max-width: 1008px;width: 100%;background-color: #000000;overflow: hidden;position: relative;order: 2;}
.row{display: flex;}
.keys{width: 60px;height: 50px;background-color: #fff;display: flex;justify-content: center;align-items: center;margin: 4px;transition: .2s;z-index: 5;border-style: double;border-radius: 5px;text-align: center;opacity: 1;-webkit-animation: bounce .3s;-moz-animation: bounce .3s;animation: bounce .3s;}
.Escape,.Digit1,.KeyQ,.KeyA,.KeyA,.KeyZ,.Minus,.Equal,.KeyP,.Semicolon,.Quote,.Slash,.BracketLeft,.BracketRight,.Digit0,.Quote,.Tab{background-color: #D51333;border-color: #D51333;}
.Digit2,.KeyW,.KeyS,.KeyX,.Digit9,.KeyO,.KeyL,.Period{background-color: #FF7248;border-color: #FF7248;}
.Digit3,.KeyE,.KeyD,.KeyC,.Digit8,.KeyI,.KeyK,.Comma{background-color: #FE8001;border-color: #FE8001;}
.Digit4,.Digit7,.KeyR,.KeyU,.KeyF,.KeyJ,.KeyV,.KeyM{background-color: #CDA905;border-color: #CDA905;}
.Digit5,.Digit6,.KeyT,.KeyY,.KeyG,.KeyH,.KeyB,.KeyN{background-color: #CDC46D;border-color: #CDC46D;}
.Backspace{width:120px;background-color: #AE1030;border-color: #AE1030;text-align: center;opacity: 1;-webkit-animation:bounce.3s;-moz-animation:bounce .3s;animation:bounce.3s;}
.Tab{width:90px;background-color: #D01131;border-color: #D01131;}
.Backslash{width:90px;background-color: #AF102F;border-color: #AF102F;text-align: center;opacity:1;-webkit-animation:bounce 3s;-moz-animation:bounce.3s;animation:bounce.3s;}
.CapsLock{width:128px;background-color: #C8112F;border-color: #C8112F;text-align: center;opacity:1;-webkit-animation:bounce.3s;-moz-animation:bounce.3s;animation:bounce.3s;}
.Enter{width:120px;background-color: #AF102F;border-color: #AF102F;text-align: center;opacity:1;-webkit-animation:bounce.3s;-moz-animation:bounce.3s;animation:bounce.3s;}
.ShiftLeft{width:200px;background-color: #B50F2B;border-color: #B50F2B;text-align: center;opacity:1;-webkit-animation:bounce.3s;-moz-animation:bounce.3s;animation:bounce.3s;}
.ShiftRight{width:200px;background-color: #B50F2B;border-color: #B50F2B;text-align: center;opacity:1;-webkit-animation:bounce.3s;-moz-animation:bounce.3s;animation:bounce.3s;}
.keys.active{background-color: #333;color: #fff;text-align: center;opacity: 1;-webkit-animation: bounce .3s;-moz-animation: bounce .3s;animation: bounce .3s;}
.keys.remove{animation: keys_animation 0.5s forwards;}
@keyframes keys_animation{0%{background-color: #333;color: #fff;} 100% {background-color: #fff;color: #000;} }
.order{text-align: center;opacity: 1;background-color: black;-webkit-animation: bounce .3s;-moz-animation: bounce .3s;animation: bounce .3s;}
@-webkit-keyframes bounce{to{-webkit-transform: scale(0.2);} }
@-moz-keyframes bounce{ to{-moz-transform: scale(0.2);} }
@keyframes bounce{to{transform: scale(1.2);} }
*{font-family: 'M PLUS 1 Code', sans-serif;}
